header { font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: #666666 solid 2px;
    width: 100%;
}
body { font-family: Arial, Helvetica, sans-serif;
margin: 0;
background-image: url(../images/circuit.png);
overflow: auto;
padding-bottom: 100px;
}

.container{ 
    width: 960px;
    background-color: white
}
.container{
    border: 2px #666666 solid;
    overflow: hidden;
    margin: auto;
    padding: 20px;
}
.container h2{ color: #4aaaa5}


header {
    background: white;
    padding-top: 30px;
    min-height: 120px;
}
header a{
    color: #666666;
    text-decoration: none;
    font-size: 16px;
}
header ul{
    margin: 20;
    padding: 0;
}
header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
#contact {
    border-left: 2px solid #666666;
}
#portfolio {
    border-left: 2px solid #666666;
}

.myform input[type="text"] {
    width: 100%;
}
.myform input[type="submit"]{
    background-color: #4aaaa5;
    color: white;
    border: none;
    padding: 8px 20px
}
img {
    float: left;
    padding: 0px 20px 20px 20px
}
#header {
    padding : 0px 15px 0px 15px;
    float: left;
    width: 210px;
    height: 60px;
    margin: 60px;
    background-color: #4aaaa5;
    color: white;
    margin-bottom: 15px;
    margin-left: 173px;
    text-align: center;

    
}
.navbar {
    padding-top: 50px;
    padding-right: 100px
}
#aboutme{
    color: #4aaaa5;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid #666666;
    margin-left: auto;
    text-align: left;
}
.column {
    float: left;
    width: 35%;
    padding: 10px 30px 15px 0px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .container1 {
    position: relative;

  }
.container2 {
      position: relative;
  }
.text-block {
    position: absolute;
    bottom: -240px;
    right: -20px;
    left: 20px;
    background-color:#4aaaa5;
    color: white;
    padding-left: 34px;
    padding-right: 70px;
    text-align: center;
  }
  
#showcase{
        background-position: center right;
        border: 5px #666666;
}

#main-footer{
    background: #666666;
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

footer { 
    border-top: #4aaaa5 8px solid;
    padding-top: 10px;
    overflow: auto;
}